body {
    background-color: aqua;
    background: url(../pictures/342092.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
a {
    text-decoration: none;
}

header {
    background-color: rgba(0, 0, 0, 0.616);
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav {
    border: none;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 20%;
    margin-bottom: 0.6%;
}

div.menuh>a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: rgba(56, 56, 56, 0.944);
    padding: 1%;
    margin: 1%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3),
    0 10px 10px rgba(0, 0, 0, 0.258);
}

div.menuh>a:hover {
    background-color:black;
}

main {
    margin-left: 11%;
    margin-right: 11%;
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.445),
    0 10px 15px rgba(0, 0, 0, 0.386);
    border: solid;
    border-color: #3e3e3e;
}

footer {
    background-color: rgb(44, 44, 44);
    height: 100px;
    margin-left: 11%;
    margin-right: 11%;
}

.logo {
    padding: 1% 7% 1% 2%;
    margin: 2px 2px 2px 2%;
    background: url(../pictures/logo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.flPrKm {
    display: flex;
    align-content: center;
}
.menuh {
    margin-top: 1%;
    margin-bottom: 0.8%;
    display: flex;
    align-content: start;
    background-color: rgba(77, 77, 77, 0.967);
    border: solid;
    border-color: #3e3e3e;
}
.menu1 {
    background-color: rgba(236, 0, 0, 0.935);
    padding: 1% 4% 1% 4%;
    margin-left: 1%;
}

.input1 {
    height: 240px;
    width: 33%;
    background: url(../pictures/film3.jpg) no-repeat;
    background-size: 100% 240px;
}
.input1Name {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    padding: 5px 5px 5px 5px;
    display: inline-block;
    margin-top: 7%;
    box-shadow: 0 0 5px;
    
}

.input2 {
    margin-left: 1.1%;
    height: 240px;
    width: 33%;
    background: url(../pictures/person.jpg) no-repeat;
    background-size: 100% 240px;

}
.input2Name {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    padding: 5px 5px 5px 5px;
    display: inline-block;
    margin-top: 7%;
    box-shadow: 0 0 5px;
}
.input3 {
    margin-left: 1.1%;
    height: 240px;
    width: 33%;
    background: url(../pictures/comics.jpg) no-repeat;
    background-size: 100% 240px;

}

.input3Name {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    padding: 5px 5px 5px 5px;
    display: inline-block;
    margin-top: 7%;
    box-shadow: 0 0 5px;
}

.input1:hover {
    transition: 1s;
    transform: scale(1.07);
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.445),
    0 10px 15px rgba(0, 0, 0, 0.386);
}

.input2:hover {
    transition: 1s;
    transform: scale(1.07);
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.445),
    0 10px 15px rgba(0, 0, 0, 0.386);
}

.input3:hover {
    transition: 1s;
    transform: scale(1.07);
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.445),
    0 10px 15px rgba(0, 0, 0, 0.386);
}
.text {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 1px;
    padding-bottom: 2%;
    text-align: justify;
    font-size: 20px;
    color: antiquewhite;
    background-color: rgba(77, 77, 77, 0.967);
    font-family: 'Segoe UI',
    Tahoma,
    Verdana,
    sans-serif;
}
.header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}












ul {
    display: block;
    margin-top: 1%;
    padding-left: 2%;
    margin-bottom: 1%;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu>li {
    float: left;
    position: relative;
}

ul.menu>li>a {
    display: block;
    padding: 10px;
    color: white;
    background-color: rgba(162, 0, 0, 0.944);
    margin-right: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3),
    0 10px 10px rgba(0, 0, 0, 0.258);
}

ul.menu>li>a:hover {
    background-color: black;
}

ul.submenu>li>a:hover {
    background-color: black;
    transition: 1s;
    transform: scale(1.07);
}

ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: rgb(255, 0, 0);
    border: 1px solid red;
}

ul.submenu>li {
    display: block;
}

ul.submenu>li>a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}

ul.submenu>li>a:hover {
    text-decoration: underline;
}

ul.menu>li:hover>ul.submenu {
    display: block;
}